
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-1{
    width: 5rem;
    height: 5rem;
    background-color: red;
}

.box-2{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
}

.box-3{
    width: 5rem;
    height: 5rem;
    background-color: blue;
}

.box-4{
    width: 5rem;
    height: 5rem;
    background-color: green;
}